<section class="dashContainer userDash">
  <section class="sidebar">
    <div class="sideLogo userLogo">
      <span>Surplus</span>
      <img src="images/menu.svg" alt="menu" class="menuOpen">
      <img src="images/closeMenu.svg" alt="menu" class="menuClose hidden">
    </div>

    <div class="pageLinks userPages">
      <a href="#">
        <img src="images/home.svg" alt="home">
        <span>Home</span>
      </a>

      <a href="#">
        <img src="images/tips.svg" alt="tips">
        <span>Resources/Tips</span>
      </a>

      <a href="#">
        <img src="images/notifications.svg" alt="home">
        <span>Notifications</span>
      </a>

      <a href="#">
        <img src="images/support.svg" alt="home">
        <span>Support</span>
      </a>

      <a href="#">
        <img src="images/leaderboard.svg" alt="home">
        <span>Leaderboard</span>
      </a>

      <a href="#">
        <img src="images/profile.svg" alt="home">
        <span>Profile</span>
      </a>

      <a href="#">
        <img src="images/logout.svg" alt="logout">
        <span>Logout</span>
      </a>
    </div>
  </section>

  <section class="dashBody">
    <div class="dashHead">
      <div class="currentPage">
        Dashboard
      </div>

      <div class="profileBox userProfileBox">
        <img src="images/userProfile.svg" alt="userProfile">
        <span>John</span>
      </div>
    </div>

    <div class="dashMain userDashMain">
     {{!-- <div style="border: 2px solid red; padding: .5rem 1rem;"> {{userId}}</div> --}}
      <div class="foodListings">
        {{#if bizDetails.length}}
          <table>
            <thead>
              <tr>
                <th>Business</th>
                <th>Item Name</th>
                <th>Expiration Date</th>
                <th>Pickup Time</th>
                <th>Pickup Location</th>
                <th>Special Notes</th>
                <th>No. of claims</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {{#each foodListings}}
                <tr>
                  <td data-label="Business:">
                    {{#each ../bizDetails}}
                      {{this.name}}
                    {{/each}}
                  </td>
                  <td data-label="Item Name:">{{item_name}}</td>
                  <td data-label="Expiration Date:">{{formatDate expiration_date}}</td>
                  <td data-label="Pickup Time:">{{pickup_time}}</td>
                  <td data-label="Pickup Location:">{{pickup_location}}</td>
                  <td data-label="Special Notes:">{{special_notes}}</td>
                  <td data-label="No. of claims:">{{no_of_claims}}</td>
                  <td data-label="Action:" class="actionBtns">
                    {{#if claimed}}
                      <a href="/unclaim/{{id}}" class="unclaim">Unclaim</a>
                    {{else}}
                      <a href="/claim/{{id}}" class="claim">Claim</a>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <p>No food listings available.</p>
        {{/if}}
      </div>
    </div>
  </section>
</section>

<script src="js/dashboard.js"></script>